<div class="header-bottom">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #404041;">
        <div class="collapse navbar-collapse" id="menuBar">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item m-2">
                    <a class="nav-link" href="#" aria-current="page"><i class="bi bi-house-door-fill"></i> Trang
                        chủ </a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link" href="#"><i class="bi bi-list-ul"></i> Giới thiệu</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link" href="#"><i class="bi bi-telephone-fill"></i> Liên hệ</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link" href="#"><i class="bi bi-envelope-fill"></i> Góp ý</a>
                </li>

                <li class="nav-item m-2">
                    <a class="nav-link" href="#"> <i class="bi bi-question-circle-fill"></i> Hỏi đáp</a>
                </li>
                <li class="nav-item m-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sub-menu" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="bi bi-person-fill"></i> Tài
                        khoản</a>
                    <div class="dropdown-menu mt-1 bg-opacity-75 bg-light" aria-labelledby="sub-menu">
                        <a class="dropdown-item" href="#">Đăng nhập</a>
                        <a class="dropdown-item" href="#">Quên mật khẩu</a>
                        <a class="dropdown-item" href="#">Đăng ký thành viên</a>
                        <hr class="m-2" />
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                        <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="#">Cập nhật hồ sơ</a>
                        <hr class="m-2" />
                        <a class="dropdown-item" href="#">Đơn hàng</a>
                        <a class="dropdown-item" href="#">Hàng đã mua</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mx-3">
                <li class="nav-item m-2">
                    <a class="nav-link" href="#">English</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link" href="#">Tiếng Việt</a>
                </li>
            </ul>
        </div>
    </nav>
</div>